<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="../js/controller/writeInheritance.js"></script>
    <title></title>
</head>
<!--Better approach: bind to a property of an object and not directly to a scope's property.
 This approach is better since doesn't assume anything about the DOM tree structure-->
<body ng-app ng-init="thing = {name: 'World'}">
<h1>Hello, {{thing.name}}</h1>
<div ng-controller="HelloCtrl">
    <!--This solves the problem of model/view updates across the whole application.
        As a rule of thumb, you should have a dot in an expression provided to the ng-model directive-->
    Say hello to: <input type="text" ng-model="thing.name">
    <h2>Hello, {{thing.name}}!</h2>
</div>
</body>
</html>